<html>
    <head>
        <title>Login Pg</title>
        <style>

        </style>
    </head>
<body>
    <div class="container">
        <h1>Please Login</h1>
        <form>
            <div  class="form-control " >
                <input type="text" required>
                <label>E-mail</label>
                <br>
            </div>

            <div class="form-control">
                <input type="password" required>
                <label>Password</label>
                <br>
            </div>
            <button class="btn">Login</button>

            <p class="text">Don't have an account? <a href="#">Register</a></p>
        </form>
    </div>
</body>
