<link
  href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
  rel="stylesheet"
/>
<div class="webpage">
  <input name="nav" type="radio" id="about-page" checked />
  <input name="nav" type="radio" id="interests-page" />
  <input name="nav" type="radio" id="services-page" />
  <input name="nav" type="radio" id="contact-page" />

  <div class="index-page">
    <div class="page-wrapper">
      <div class="page about-page" id="about">
        <div class="about-me-content">
          <div class="image-wrapper">
            <img
              class="image"
              src="assets/wallpaperflare.com_wallpaper (1).jpg"
             width="450px"/>
          </div>
          <div class="about-right">
            <h2 class="about-header">Avatar</h2>
            <h3 class="about-subheader">The Unseen</h3>
            <p>
              On the lush alien world of Pandora live the Na'vi, beings who
              appear primitive but are highly evolved. Because the planet's
              environment is poisonous, human/Na'vi hybrids, called Avatars,
              must link to human minds to allow for free movement on Pandora.
              Jake Sully (Sam Worthington), a paralyzed former Marine, becomes
              mobile again through one such Avatar and falls in love with a
              Na'vi woman (Zoe Saldana). As a bond with her grows, he is drawn
              into a battle for the survival of her world.
            </p>
            <div class="skills"></div>
          </div>
        </div>
      </div>


