<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a> <img src="/assets/amazon_PNG6.png" height="46" alt="Myntra" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-5 mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <b
            ><a
              class="nav-link active"
              style="text-decoration: underline"
              aria-current="page"
              href="#"
              ><i class="fa-sharp fa-solid fa-house" style="font-size: 24px"></i
              >Home</a
            ></b
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            style="text-decoration: underline"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <b>
              <i class="fa-sharp fa-solid fa-shirt" style="font-size: 24px"></i
              >Fashion</b
            >
          </a>
          <ul class="dropdown-menu">
            <a
              id="dropdown"
              class="dropdown-item"
              href="https://www.shoppersstop.com/men-clothing/c-A1010?q=%3AtopRated%3AinStockFlag%3Atrue%3Abrands%3ARARE%2BRABBIT&text=&startRange=&endRange=#"
              target="_blank"
              >Mens Wear</a
            >
            <a id="dropdown" class="dropdown-item" href="#">Women Wear</a>
            <a id="dropdown" class="dropdown-item" href="#">Kids Wear</a>
          </ul>
        </li>
        <li class="nav-item">
          <b
            ><a
              class="nav-link active"
              style="text-decoration: underline"
              aria-current="page"
              href="#"
              ><i class="fa-solid fa-headphones" style="font-size: 24px"></i
              >Electronics</a
            ></b
          >
        </li>
        <li class="nav-item">
          <b
            ><a
              class="nav-link active"
              style="text-decoration: underline"
              aria-current="page"
              href="#"
              ><i
                class="fa-solid fa-mobile-screen-button"
                style="font-size: 24px"
              ></i
              >Mobiles</a
            ></b
          >
        </li>
        <li class="nav-item">
          <b
            ><a
              class="nav-link active"
              style="text-decoration: underline"
              aria-current="page"
              href="#"
              ><i class="fa-solid fa-cart-shopping" style="font-size: 24px"></i
              >Cart</a
            ></b
          >
        </li>
        <li class="nav-item">
          <b
            ><a
              class="nav-link active"
              style="text-decoration: underline"
              aria-current="page"
              href="#"
              ><i class="fa-solid fa-user-secret" style="font-size: 24px"></i>My
              Account</a
            ></b
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br /><br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <img
        src="/assets/download.jfif"
        style="height: 80px; width: 80px"
      /><br />
      <button class="button">Phones</button>
    </div>
    <div class="col-lg-3">
      <img src="/assets/laps.png" style="height: 80px; width: 80px" /><br />
      <button class="button">Laptops</button>
    </div>
    <div class="col-lg-3">
      <img
        src="/assets/skin care.avif"
        style="height: 80px; width: 80px"
      /><br />
      <button class="button">Skin Cares</button>
    </div>
    <div class="col-lg-3">
      <img src="/assets/toys.jpeg" style="height: 80px; width: 80px" /><br />
      <button class="button">Toys</button>
    </div>
  </div>
</div>

<br /><br /><br />

<div class="container">
  <!-- For Demo Purpose-->

  <!-- Second Row [Team]-->
  <h2 class="font-weight-bold mb-2">Categories</h2>
  <p class="font-italic text-muted mb-4">Mobile Brands</p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3">
      <!-- Card-->
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-0">
          <img src="{{images}}" class="card-img-top" />
          <div class="p-4">
            <h5 class="mb-0">{{title}}</h5>
            <p class="small text-muted">
              {{description}}
            </p>
            <span>{{brand}}</span><br>
            <span>{{price}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <!-- Card-->
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-0">
          <img src="{{images}}" class="card-img-top" />
          <div class="p-4">
            <h5 class="mb-0">{{title}}</h5>
            <p class="small text-muted">
              {{description}}
            </p>
            <span>{{brand}}</span><br>
            <span>{{price}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <!-- Card-->
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body p-0">
          <img src="{{images}}" class="card-img-top" />
          <div class="p-4">
            <h5 class="mb-0">{{title}}</h5>
            <p class="small text-muted">
              {{description}}
            </p>
            <span>{{brand}}</span><br>
            <span>{{price}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <!-- Card-->
      <div class="card shadow-lg border-0">
        <div class="card-body p-0">
          <img src={{images}} class="card-img-top" />
          <div class="p-4">
            <h5 class="mb-0">{{title}}</h5>
            <p class="small text-muted">
              {{description}}
            </p>
            <span>{{brand}}</span><br>
            <span>{{price}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
