<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
      <div class="card">
        <img src="/assets/firstcard.jpg" class="card-img-top" alt="...">

      </div>
      <div class="card d-none d-md-block">
        <img src="/assets/card2.jpg" class="card-img-top" alt="...">

      </div>
      <div class="card d-none d-md-block">
        <img src="/assets/card3.jpg" class="card-img-top" alt="...">

      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/assets/card4.jpg" class="card-img-top" alt="...">

        </div>
        <div class="card d-none d-md-block">
          <img src="/assets/card5.jpg" class="card-img-top" alt="...">

        </div>
        <div class="card d-none d-md-block">
          <img src="/assets/card6.jpg" class="card-img-top" alt="...">

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img src="/assets/card7.jpg" class="card-img-top" alt="...">

        </div>
        <div class="card d-none d-md-block">
          <img src="/assets/card8.jpg" class="card-img-top" alt="...">

        </div>
        <div class="card d-none d-md-block">
          <img src="/assets/card2.jpg" class="card-img-top" alt="...">

        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <img
        src="/assets/download.jfif"
        style="height: 80px; width: 80px"
      /><br />
      <button class="button">Phones</button>
    </div>
    <div class="col-lg-3">
      <img src="/assets/laps.png" style="height: 80px; width: 80px" /><br />
      <button class="button">Laptops</button>
    </div>
    <div class="col-lg-3">
      <img
        src="/assets/skin care.avif"
        style="height: 80px; width: 80px"
      /><br />
      <button class="button">Skin Cares</button>
    </div>
    <div class="col-lg-3">
      <img src="/assets/toys.jpeg" style="height: 80px; width: 80px" /><br />
      <button class="button">Toys</button>
    </div>
  </div>
</div>



