<p>comp1 works!</p>
<button type="button" name="button" (click)="getinfofromservice1()">Emp1</button>
<ul class="list-group">
  <li *ngFor ="let info of getinform1">{{info}}</li>
</ul>
<button type="button" name="button" (click)="getinfofromservice2()">Emp2</button>
<ul class="list-group">
  <li *ngFor ="let info of getinform2">{{info}}</li>
</ul>
<button type="button" name="button" (click)="getinfofromservice3()">Emp3</button>
<ul class="list-group">
  <li *ngFor ="let info of getinform3">{{info}}</li>
</ul>


